@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Getting started</h2>
    <p>
        Odds Matching Utility.
    </p>
    <p><a class="btn btn-default" @Html.ActionLink("Click here to access tool", "Index", "matched_event")</a></p>
</div>

